{%- extends "base/base.html" %}

{% from 'abs/author_links.html' import display_authors_with_links %}

{% import 'base/macros.html' as base_macros %}

{% set pagetitle %}arXiv:{{ requested_id }}{% endset %}
{#- build breadcrumb items as link : label pairs, excluding home and current page -#}
{% set breadcrumb = {
  url_for('.list_articles',context=abs_meta.primary_archive.id, subcontext='recent') : abs_meta.primary_archive.id,
} %}

{% block addl_head %}
  {{ super() -}}
  {%- if config['LABS_ENABLED'] and config['LABS_BIBEXPLORER_ENABLED'] -%}
  <link rel="stylesheet" media="screen" type="text/css" href="https://static.arxiv.org/js/bibex-dev/bibex.css?20200709"/>
  {%- endif %}
  <script src="{{ url_for('static', filename='js/mathjaxToggle.min.js') }}" type="text/javascript"></script>
  {%- if config['LABS_ENABLED'] -%}
  {#  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/paperwithcode.css') }}" /> #}
  <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="//cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/toggle-labs.js') }}?20210311-phoenix" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/cite.js') }}" type="text/javascript"></script>
  {%- endif %}
  {%- include "feedback_collector_js.html" -%}
  {{- generate_scholar_tags() }}
  {{- generate_social_media_tags() }}
{% endblock addl_head %}

{%- block content %}
<div class="container">
  <div class="arxiv-download-buttons d-flex d-md-block gap-2">
    {{ generate_download_button('btn-lg') }}
    {{ generate_read_button('btn-lg') }}
  </div>

  {% if is_covid_match %}
  <div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">COVID-19 e-print</h4>
    <p><em>Important:</em> e-prints posted on arXiv are not peer-reviewed by arXiv; they should not be relied upon without context to guide clinical practice or health-related behavior and should not be reported in news media as established information without consulting multiple experts in the field.</p>
  </div>
  {% endif -%}

  {{ title() }}
  <div class="author-info">
    <ul class="unstyled-horizontal">
      <li><a href="">Jane Doe</a></li>,
      <li>
        <a href="">Roberto Costo</a><a href=""><svg width="15" height="15" fill="currentColor" role="presentation">
          <use xlink:href="{{ url_for('base.static', filename='images/icons/custom-icons.svg') }}#orcid"/>
        </svg></a>
      </li>,
      <li><a href="">Zhao Xian</a></li>
    </ul>
    <p class="submitter">
      <strong><em>Submitter:</em></strong> Zhao Xian [<a href="">view email</a>] <small>(Which authors of this paper are <a href="">endorsers</a>?)</small>
    </p>
  </div>

  {{ abstract() }}
  {{ comment() }}
</div>
{% endblock content %}

{% block content_extra %}
<div class="metadata row border-top mt-5">
  <div class="col-12 col-md-6 col-lg-4 border-end">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Date Submitted:</strong> {{ generate_dateline() }}</li>
      <li class="list-group-item"><strong>Version History:</strong> {{ version_atag() }}</li>
      <li class="list-group-item"><strong>Categorization:</strong> {{ category_line() }}</li>
    </ul>
  </div>
  <div class="col-12 col-md-6 col-lg-4 border-end">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>arXiv ID:</strong> arXiv:{{ requested_id }}</li>
      <li class="list-group-item"><strong>arXiv DOI:</strong> </li>
      <li class="list-group-item"><strong>Author/Publisher DOI:</strong> {{ doi_publisher }}</li>
      <li class="list-group-item"><strong>Journal Reference:</strong> {{ journal_ref }}</li>
      <li class="list-group-item"><strong>License:</strong> {{ license }}</li>
    </ul>
  </div>
  <div class="col-12 col-lg-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Cite As:</strong> <strong>{{ version_atag() }}</strong><br>
        {% include "abs/bibtex_citation.html" %}
      </li>
      <li class="list-group-item"><strong>Code Associated with this Article:</strong>
        <script src="{{ url_for('static', filename='js/paperswithcode.js') }}"></script>
        <p>(ENABLE PwC, NO TOGGLE)</p>
        <div id="pwc-output"></div>
        <em>(<a href="https://labs.arxiv.org/" target="_blank">What is Links to Code?</a>)</em>
      </li>
    </ul>
  </div>
</div>

<div class="arxiv-labs row border-top accordion accordion-flush">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Explore related papers
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Collaborators have created these features to enhance arXiv functionality. Toggle them on and off to use. <a href="">Learn more about arXiv Labs collaborations.</a></p>
        {% include "abs/labs.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock content_extra %}











<!-- {%- macro generate_scholar_tags() -%}
{%- if meta_tags %}
    {%- for tag in meta_tags %}
  <meta name="{{tag.name}}" content="{{tag.content}}"/>
    {%- endfor -%}
{%- endif -%}
{%- endmacro -%}

{%- macro generate_social_media_tags() -%}
    <meta name="twitter:site" content="@arxiv"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ abs_meta.title|tex2utf|truncate(70, False, '...')|tex2utf }}"/>
    <meta name="twitter:description" content="{{ abs_meta.abstract|trim|truncate(200, False, '...')|tex2utf }}"/>
    <meta name="twitter:image" content="https://static.arxiv.org/icons/twitter/arxiv-logo-twitter-square.png"/>
    <meta name="twitter:image:alt" content="arXiv logo"/>
    <meta property="og:site_name" content="arXiv.org"/>
    <meta property="og:title" content="{{ abs_meta.title|tex2utf }}"/>
    <meta property="og:url" content="{{ canonical_url(abs_meta.arxiv_id, abs_meta.version) }}"/>
    <meta property="og:description" content="{{ abs_meta.abstract|trim|tex2utf }}"/>
{%- endmacro -%} -->



{%- macro title() -%}
  <h1>{{- abs_meta.title -}}</h1>
{%- endmacro -%}

{%- macro abstract() -%}
  <p class="mt-3">{{- abs_meta.abstract|tex2utf_no_symbols|abstract_lf_to_br|urlize|safe -}}</p>
{%- endmacro -%}

{%- macro comment() -%}
    <p><strong>Comments: </strong> {{- abs_meta.comments|tex2utf|urlize|safe -}}</p>
{%- endmacro -%}

{%- macro doi_publisher() -%}
    {{ abs_meta.doi|escape|abs_doi_to_urls|safe }}
{%- endmacro -%}

{%- macro journal_ref() -%}
    {{ abs_meta.journal_ref|tex2utf }}
{%- endmacro -%}

{%- macro license() -%}
    {{ abs_meta.license_uri|tex2utf }}
{%- endmacro -%}

{%- macro category_line() -%}
  <span class="primary-subject">{{- abs_meta.primary_category.unalias().display -}}</span>
  {%- if abs_meta.secondary_categories -%}
    {%- for category in abs_meta.display_secondaries() -%}
        ; {{ category }}
    {%- endfor -%}
  {%- endif -%}
{%- endmacro -%}

{%- macro generate_version_entry(version_entry, this_version) %}
  {%- if version_entry.version == this_version -%}
    <strong>[v{{ version_entry.version }}]</strong>
  {% else %}
    <strong><a href="{{ url_for('.abstract', arxiv_id='{}v{}'.format(abs_meta.arxiv_id, version_entry.version)) }}">[v{{ version_entry.version }}]</a></strong>
  {% endif %}{{ version_entry.submitted_date.strftime('%a, %-d %b %Y %H:%M:%S %Z') }} ({{ "{:,}".format(version_entry.size_kilobytes) }} KB){#- ({{(version_entry.size_kilobytes*1000)|filesizeformat}}) -#}<br/>
{%- endmacro -%}

{%- macro generate_dateline() -%}
  [Submitted on {{ abs_meta.version_history[0].submitted_date.strftime('%-d %b %Y') }}
  {%- if abs_meta.version == 1 and abs_meta.version < abs_meta.version_history[-1].version %} (this version){%- endif -%}
  {%- if abs_meta.version != 1 %} (<a href="{{ url_for('.abstract', arxiv_id='{}v1'.format(abs_meta.arxiv_id)) }}">v1</a>){%- endif %}
  {%- if abs_meta.version > 1 and abs_meta.version < abs_meta.version_history[-1].version -%}
  , revised {{ abs_meta.version_history[abs_meta.version-1].submitted_date.strftime('%-d %b %Y') }} (this version, v{{ abs_meta.version }})
  {%- endif -%}
  {%- if abs_meta.version != abs_meta.version_history[-1].version -%}
  , <em>latest version {{ abs_meta.version_history[-1].submitted_date.strftime('%-d %b %Y') }}</em> (<a href="{{ url_for('.abstract', arxiv_id='{}v{}'.format(abs_meta.arxiv_id, abs_meta.version_history[-1].version)) }}">v{{ abs_meta.version_history[-1].version }}</a>)
  {%- elif abs_meta.version > 1 and abs_meta.version == abs_meta.version_history[-1].version -%}
  , last revised {{ abs_meta.version_history[-1].submitted_date.strftime('%-d %b %Y') }} (this version, v{{ abs_meta.version }})
  {%- endif -%}
  ]
{%- endmacro -%}

{%- macro version_atag(arxiv_id, version, primary_category) -%}
  {%- if version -%}
    {%- set vpart = 'v' ~ version -%}
  {%- else -%}
    {%- set vpart = '' -%}
  {% endif %}
  {%- if primary_category in arxiv_id -%}
    <a href="{{ arxiv_id|canonical_url(version) }}">arXiv:{{ abs_meta.arxiv_id }}{{vpart}}</a>
    {%- else -%}
    <a href="{{ arxiv_id|canonical_url(version) }}">arXiv:{{ abs_meta.arxiv_id }}{{vpart}}</a> [{{ abs_meta.primary_category }}]
  {%- endif -%}
{%- endmacro -%}

{% macro generate_download_button(class) %}
  {#- to display only on mobile use this display class: d-sm-none -#}
  {% if formats|length > 0 and ('pdf' in formats or 'pdfonly' in formats) %}
    <button class="btn btn-primary {{ class }}" href="{{url_for('.pdf', arxiv_id=requested_id)}}">
      <svg width="20" height="20" fill="currentColor" role="presentation">
        <use xlink:href="{{ url_for('base.static', filename='bootstrap/bootstrap-icons.svg') }}#file-arrow-down"/>
      </svg>
      Download PDF
    </button>
  {% else %}
    <button class="btn disabled d-sm-none" href="#other">No PDF available, click to view other formats</button>
  {% endif %}
{% endmacro %}

{% macro generate_read_button(class) %}
  {% if formats|length > 0 and ('pdf' in formats or 'pdfonly' in formats) %}
    <button class="btn btn-primary {{ class }}" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <svg width="20" height="20" fill="currentColor" role="presentation">
        <use xlink:href="{{ url_for('base.static', filename='bootstrap/bootstrap-icons.svg') }}#file-earmark-text"/>
      </svg>
      Read PDF
    </button>
  {% endif %}
  <div class="offcanvas offcanvas-end w-100" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
    <embed type="application/pdf"
        src="{{url_for('.pdf', arxiv_id=requested_id)}}#view=fitH&toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&navpanes=0&&pagemode=none"
        width="100%"
        height="100%">
    </embed>
    </div>
  </div>
{% endmacro %}



# MACRO NEEDS FIXING
{%- macro author_list(abs_meta, authors) %}
    {%- for part in authors -%}
        {%- if part is string -%}
            {{- part -}}
        {%- else -%}
            <a href="{{ url_for('search_archive', searchtype='author', archive=abs_meta.primary_archive.id, query=part[1]) }}">{{ part[0] }}</a>
        {%- endif -%}
    {% endfor %}
{%- endmacro -%}

{%- macro display_authors_with_links(abs_meta, author_links) %}
  {{- author_list(abs_meta, author_links[0]) }}

  {%- if author_links[1] %}
    {% if author_links[2] == 1 %}
      {{ author_list(author_links[1]) }}
    {% else %}

  <script type="text/javascript">
  <!--
  function toggleAuthorList(whichLayer,toggleThis)
  {
    var elem, vis, tempToggle;
    tempToggle=toggleThis;
    if( document.getElementById ) // standard
        elem = document.getElementById( whichLayer );
    else if( document.all ) // old msie versions
        elem = document.all[whichLayer];
    else if( document.layers ) // nn4
        elem = document.layers[whichLayer];
    vis = elem.style;
    // if the style.display value is blank we try to figure it out here
    if(vis.display==''&&elem.offsetWidth!=undefined&&elem.offsetHeight!=undefined)
      vis.display = (elem.offsetWidth!=0&&elem.offsetHeight!=0)?'inline':'none';
    vis.display = (vis.display==''||vis.display=='inline')?'none':'inline';

    // toggle link inner text
    status = vis.display;
    if(status=='none'){
        document.getElementById('toggle').innerHTML = tempToggle ;
        document.getElementById('toggle').title = "Show Entire Author List";
    }
    else if(status=='inline'){
        document.getElementById('toggle').innerHTML = "(collapse list)";
        document.getElementById('toggle').title = "Collapse Author List";
    }
  }
  //-->
  </script>

    <div id="long-author-list" style="display: none;">
          {{ author_list(abs_meta, author_links[1]) }}
    </div>
    <a href="javascript:toggleAuthorList('long-author-list','et al. ({{ author_links[2] }} additional authors not shown)');"
       title="Show Entire Author List" id="toggle">
      et al. ({{ author_links[2] }} additional authors not shown)</a>
    <noscript>&nbsp;You must enable JavaScript to view entire author list.</noscript>

    {%- endif -%}
  {% endif -%}
{%- endmacro -%}
